body
{
    background: url(/1689057618609.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#headings
{
    color: white;
    background-color: rgb(50, 50, 230);
    width: 700px;
    text-align: center;
    margin: auto;
    margin-top: 50px;

}
#content
{
    background: rgba(124, 121, 121,0.5);
     height: 400px;
     width: 900px;
     margin: auto;
     margin-top: 50px;
}
img
{
     height: 150px;
     width: 150px;
     border-top-left-radius: 50px;
     margin-top: 5px;
}


     
